/*  VISUALISATION DES BLOCS  */

/*div, header, section, article, aside, nav {
	border: 1px dashed rgba(0,0,0,0.15);
	background-color: rgba(0,0,0,0.05);
}*/

/*.clear {
	border: 1px dashed red;
}*/

/*GLOBAL */


/* Style pour le Header */



/* Style pour le MAIN */


/* Style pour la section */


/* Style pour aside (barre de coté) */



/* RESPONSIVE DESIGN */

/* TABLETTE */



/* SMARTPHONES */
 