.portfolio-container {
    max-width: 1000px;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.portfolio-item
{
    margin: auto;
    padding-top: 15px;
}
.portfolio-item a i{
 font-size: 6em;
}

.portfolio-item img{
    min-height: 100px;
    min-width : 100px;
    max-height: 200px;
    max-width: 200px;
}

.portfolio-item:hover {
    opacity: 1;
    box-shadow: 5px 10px 5px rgba(0,0,0,0.9);
    background-color: #01A2A6;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;

}

.portfolio-item:hover h3{
    color: white;
}